In [1]:
from classes import Paths

import numpy as np
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.precision", 2)

In [2]:
paths = Paths()
path = paths.rides_info
df = pd.read_csv(path)
df.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,1276.33,0,2.60,2.46
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,1729.14,0,2.72,-1.82

<div class = "alert alert-info">

- Add a `flag` column that is equal to `'good_line'` if `rating > 5 and speed_max < 100`. `'bad_line'` if `rating > 5 and speed_max > 100`. `'undefined'` in other cases.
- Add the `speed_check` column, which takes the values `'avg_more'` if `distance/ride_duration > speed_avg`, otherwise `'avg_less'`.
- Delete the columns from the `cols2drop` list.
- Delete the lines in which `car_id` has empty values (delete if and only if NA is there).
- Write the result to the `result` variable.

In [3]:
cols2drop = ['ride_cost', 'stop_times', 'user_ride_quality']

In [ ]:
# Add a `flag` column that is equal to `'good_line'` if `rating > 5 and speed_max < 100`. `'bad_line'` if `rating > 5 and speed_max > 100`. `'undefined'` in other cases.

lf = (
    lambda x: 'good_line' 
      if (x.rating > 5 and x.speed_max < 100) 
      else ('bad_line' if x.rating > 5 and x.speed_max > 100 else 'undefined')
      )
df['flag'] = df.apply(lf, axis=1)
df

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,flag
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91,undefined
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13,good_line
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,1276.33,0,2.60,2.46,good_line
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91,undefined
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,1729.14,0,2.72,-1.82,undefined
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739495,I15732675M,z91796444U,m1z,2020-03-30,7.42,164,2290,49,54.59,0,2274.77,0,6.14,-39.75,good_line
739496,r51579957X,z91796444U,t1P,2020-03-30,4.19,26,412,46,73.00,0,515.58,0,6.70,-38.48,undefined
739497,l15212727I,z91796444U,z1A,2020-03-31,3.40,23,178,37,71.00,1,444.85,0,6.26,-45.08,undefined
739498,Z78949958q,z91796444U,w1R,2020-04-01,9.02,5,75,48,87.00,1,179.46,0,7.76,-60.19,good_line
739499,T14594979g,z91796444U,k1R,2020-04-01,5.96,29,344,45,55.00,2,1140.45,0,NaN,-50.84,good_line

In [5]:
# Add the `speed_check` column, which takes the values `'avg_more'` if `distance/ride_duration > speed_avg`, otherwise `'avg_less'`.

df.head()

lf = lambda x: 'avg_more' if x.distance / x.ride_duration > x.speed_avg else 'avg_less'
df['speed_check'] = df.apply(lf, axis=1)
df

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,flag,speed_check
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91,undefined,avg_less
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13,good_line,avg_less
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,1276.33,0,2.60,2.46,good_line,avg_more
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91,undefined,avg_less
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,1729.14,0,2.72,-1.82,undefined,avg_less
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739495,I15732675M,z91796444U,m1z,2020-03-30,7.42,164,2290,49,54.59,0,2274.77,0,6.14,-39.75,good_line,avg_less
739496,r51579957X,z91796444U,t1P,2020-03-30,4.19,26,412,46,73.00,0,515.58,0,6.70,-38.48,undefined,avg_less
739497,l15212727I,z91796444U,z1A,2020-03-31,3.40,23,178,37,71.00,1,444.85,0,6.26,-45.08,undefined,avg_less
739498,Z78949958q,z91796444U,w1R,2020-04-01,9.02,5,75,48,87.00,1,179.46,0,7.76,-60.19,good_line,avg_less
739499,T14594979g,z91796444U,k1R,2020-04-01,5.96,29,344,45,55.00,2,1140.45,0,NaN,-50.84,good_line,avg_less

In [6]:
# Delete the columns from the `cols2drop` list.

display(cols2drop)
display(df.head())
for i in cols2drop:
    if i in df.columns:
        df.drop(i, axis=1, inplace=True)
display(df.head())

['ride_cost', 'stop_times', 'user_ride_quality']

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,flag,speed_check
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91,undefined,avg_less
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13,good_line,avg_less
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,1276.33,0,2.60,2.46,good_line,avg_more
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91,undefined,avg_less
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,1729.14,0,2.72,-1.82,undefined,avg_less

,user_id,car_id,ride_id,ride_date,rating,ride_duration,speed_avg,speed_max,distance,refueling,deviation_normal,flag,speed_check
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,36,113.55,514.25,0,2.91,undefined,avg_less
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,36,93.00,197.52,0,4.13,good_line,avg_less
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,61,81.96,1276.33,0,2.46,good_line,avg_more
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,32,128.00,535.68,0,0.91,undefined,avg_less
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,38,90.00,1729.14,0,-1.82,undefined,avg_less

In [7]:
# Delete the lines in which `car_id` has empty values (delete if and only if NA is there).

df.head()
mask = df.isna().car_id
df.drop(df.index[mask]
        , axis=0
        , inplace=True)
df

,user_id,car_id,ride_id,ride_date,rating,ride_duration,speed_avg,speed_max,distance,refueling,deviation_normal,flag,speed_check
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,36,113.55,514.25,0,2.91,undefined,avg_less
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,36,93.00,197.52,0,4.13,good_line,avg_less
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,61,81.96,1276.33,0,2.46,good_line,avg_more
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,32,128.00,535.68,0,0.91,undefined,avg_less
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,38,90.00,1729.14,0,-1.82,undefined,avg_less
...,...,...,...,...,...,...,...,...,...,...,...,...,...
739495,I15732675M,z91796444U,m1z,2020-03-30,7.42,164,49,54.59,2274.77,0,-39.75,good_line,avg_less
739496,r51579957X,z91796444U,t1P,2020-03-30,4.19,26,46,73.00,515.58,0,-38.48,undefined,avg_less
739497,l15212727I,z91796444U,z1A,2020-03-31,3.40,23,37,71.00,444.85,0,-45.08,undefined,avg_less
739498,Z78949958q,z91796444U,w1R,2020-04-01,9.02,5,48,87.00,179.46,0,-60.19,good_line,avg_less
739499,T14594979g,z91796444U,k1R,2020-04-01,5.96,29,45,55.00,1140.45,0,-50.84,good_line,avg_less

In [8]:
# Write the result to the `result` variable.

result = df.copy()
result

,user_id,car_id,ride_id,ride_date,rating,ride_duration,speed_avg,speed_max,distance,refueling,deviation_normal,flag,speed_check
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,36,113.55,514.25,0,2.91,undefined,avg_less
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,36,93.00,197.52,0,4.13,good_line,avg_less
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,61,81.96,1276.33,0,2.46,good_line,avg_more
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,32,128.00,535.68,0,0.91,undefined,avg_less
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,38,90.00,1729.14,0,-1.82,undefined,avg_less
...,...,...,...,...,...,...,...,...,...,...,...,...,...
739495,I15732675M,z91796444U,m1z,2020-03-30,7.42,164,49,54.59,2274.77,0,-39.75,good_line,avg_less
739496,r51579957X,z91796444U,t1P,2020-03-30,4.19,26,46,73.00,515.58,0,-38.48,undefined,avg_less
739497,l15212727I,z91796444U,z1A,2020-03-31,3.40,23,37,71.00,444.85,0,-45.08,undefined,avg_less
739498,Z78949958q,z91796444U,w1R,2020-04-01,9.02,5,48,87.00,179.46,0,-60.19,good_line,avg_less
739499,T14594979g,z91796444U,k1R,2020-04-01,5.96,29,45,55.00,1140.45,0,-50.84,good_line,avg_less

#### Answer

In [ ]:
# YOUR CODE HERE

lf = (
    lambda x: 'good_line' 
      if (x.rating > 5 and x.speed_max < 100) 
      else ('bad_line' if x.rating > 5 and x.speed_max > 100 else 'undefined')
      )
df['flag'] = df.apply(lf, axis=1)

lf = lambda x: 'avg_more' if x.distance / x.ride_duration > x.speed_avg else 'avg_less'
df['speed_check'] = df.apply(lf, axis=1)

for i in cols2drop:
    if i in df.columns:
        df.drop(i, axis=1, inplace=True)
        
mask = df.isna().car_id
df.drop(df.index[mask]
        , axis=0
        , inplace=True)



result= df.copy()