#### Load Data

In [1]:
import pandas as pd

df1 = pd.read_csv('../data/samples/2.2.6_df1.csv', index_col=0)
df2 = pd.read_csv('../data/samples/2.2.6_df2.csv', index_col=0)

# Remember that lenghts and values of user_white_list & car_black_list will differ in test system
user_white_list = ['g10995906g', 'H90312511Q', 'C27138482L', 'H22518078t', 'n17438464n', 'F10525768e', 's15596151o', 'i18954748S', 'E84048392U', 'E69893354s']
car_black_list = ['l-4285389z', 'n79502261g', 'N-1839822D']

In [5]:
display(df1.sample(5), df1.shape)
display(df2.sample(5), df2.shape)

        user_id      car_id  rating  stop_times
47   I24411762D  R17548053Q    9.72           1
42   m16669297r  F19447831G    4.70           0
162  H25328781t  s-1701601T    1.64           0
137  N13599604Z  T-1769393Z    8.25           1
64   K20983498Z  n-6003131B    3.89           0

(180, 4)

        user_id      car_id  rating  stop_times
180  s15087592s  K18306053r    1.31           0
269  Y14429106U  Y77058654W    0.63           1
227  F18655767G  B-1223366j    4.99           0
257  N13119438A  p25512710L    5.01           2
248  s15596151o  u-2070489i    5.39           2

(120, 4)