In [1]:
import pandas as pd
from sklearn.model_selection import StratifiedKFold
from classes import Paths

In [2]:
paths = Paths()
path = paths.multi_label
df = pd.read_csv(path)
df.head()

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance,Chemistry,Astrology,Spaceology,Life Science,Earth Science,Data Science
0,9431,1,0,1,1,0,0,0,0,0,0,0,0
1,7960,1,1,0,1,0,0,0,0,0,0,0,1
2,8578,1,1,0,1,0,0,0,0,0,1,0,0
3,1651,1,0,1,1,0,0,0,0,0,0,0,0
4,4011,1,0,1,1,0,0,0,0,0,0,0,0

In [3]:

# Load your dataset
# df = pd.read_csv('your_dataset.csv')

# List of target columns
targets = ['Computer Science', 'Physics', 'Mathematics', 'Statistics',
           'Quantitative Biology', 'Quantitative Finance', 'Chemistry',
           'Astrology', 'Spaceology', 'Life Science', 'Earth Science', 'Data Science']

# Combine target columns into a single string column for stratification
df['stratify_col'] = df[targets].astype(str).agg('_'.join, axis=1)

# Initialize StratifiedKFold
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

# Create a new column for fold numbers
df['kfold'] = -1

# Assign fold numbers
for fold_number, (train_index, test_index) in enumerate(skf.split(df, df['stratify_col'])):
    df.loc[test_index, 'kfold'] = fold_number

/Users/lecha/dev/comp-ds/.venv/lib/python3.12/site-packages/sklearn/model_selection/_split.py:805: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

In [4]:
df.loc[:,['stratify_col']].head()

              stratify_col
0  1_0_1_1_0_0_0_0_0_0_0_0
1  1_1_0_1_0_0_0_0_0_0_0_1
2  1_1_0_1_0_0_0_0_0_1_0_0
3  1_0_1_1_0_0_0_0_0_0_0_0
4  1_0_1_1_0_0_0_0_0_0_0_0

In [5]:
# Drop the temporary stratify_col column
df = df.drop(columns=['stratify_col'])

# Save the updated dataset
df.to_csv('02.4.09 - answers.csv', index=False)

In [6]:
targets = ['Computer Science', 'Physics', 'Mathematics', 'Statistics',
           'Quantitative Biology', 'Quantitative Finance', 'Chemistry',
           'Astrology', 'Spaceology', 'Life Science', 'Earth Science', 'Data Science']
tmp = df.groupby(['kfold'], as_index=False).sum()  
tmp_melt = tmp.melt(id_vars = 'kfold', value_vars = targets, value_name = 'count', var_name = 'class')
print(tmp_melt.groupby(['class'], as_index=False).std()['count'].mean())

2.5235344051496296