### <center> Pandas </center>

In [1]:
import pandas as pd # pandas: lib for tabular data
import numpy as np  # numpy: lib for math-l calculations

<div class="alert alert-info">
<b>Useful Information</b>


- __Delete rows or columns__ `df.drop(name, axis=0, inplace=True)`  - `name` row index or column name. `axis=0` means, that we delete row, in order to delete columns instead of index we provide columns' names list and `axis=1` as arguments.

    
- __Drop duplicates__ `df.drop_duplicates()` keep in mind `inplace=True`. If we want to drop duplicates by specific column, we provide `subset` argument with its name or list of names of specific columns.

    
    
- __Insert into table (specifying place where to insert)__ `df.insert(loc, column, value)`.  Here `loc` (where), `column` (name), `value` (what value). By default, columns are inserted into the end.

    
    
- __Rename column__ `df.rename(columns = {'old_name':'new_name'}, inplace=True)`</div>

### <center> üîç Exploratory Data Analysis (EDA) </center>

<p id="2"></p>

In this part we have 3 sections:
- Load data;
- Primary overeview;
- Analysis

<p id="3"></p>
<div class="alert alert-info">

**[pd.read_csv()](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)** - reads data into `DataFrame` from `csv`-file.

In [3]:
path = '../data/rides_info.csv'
rides_info = pd.read_csv(path)
rides_info.head(10)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.548538,0,514.246920,0,1.115260,2.909
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.000000,1,197.520662,0,1.650465,4.133
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.959675,0,1276.328206,0,2.599112,2.461
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.000000,0,535.680831,0,3.216255,0.909
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.000000,1,1729.143367,0,2.716550,-1.822
5,I45176130J,A-1049127W,j1v,2020-01-03,7.52,67,1068,28,36.000000,2,363.209144,0,0.496265,-3.442
6,W11562554A,A-1049127W,A1g,2020-01-04,5.78,30,324,48,61.000000,0,1314.257355,0,1.464346,-6.004
7,o13713369s,A-1049127W,B1n,2020-01-04,7.35,29,401,57,65.845512,0,1753.888420,0,0.497193,-6.474
8,y62286141d,A-1049127W,h1a,2020-01-05,0.12,64,893,38,114.000000,1,2022.125012,0,-0.155147,-5.123
9,V28486769l,A-1049127W,p1e,2020-01-05,3.32,43,424,31,51.298365,1,1334.567248,0,-3.757628,-2.079